// COLORS
$primary-color: #02aab0;
$secondary-color: #00cdac;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$black-color: #212121;
$golden-color: #FFD700;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// Palette
$dark-jungle-green: #1F2421;
$skobeloff: #216869;
$shiny-shamroc: #49A078;
$ethon-blue: #9CC5A1;
$gainboro: #DCE1DE;

// Palette 2
// https://coolors.co/ffbc42-d81159-8f2d56-218380-73d2de
$maximum-yellow-red: #FFBC42;
$maximum-yellow-red-strong: #cc8500;
$ruby: #D81159;
$quinacridone-magenta: #8F2D56;
$celadon-green: #218380;
$sky-blue-crayola: #73D2DE;


// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
